
@{
    ViewBag.Title = "AddBlog";
    Layout = "~/Areas/Developer/Views/Shared/_Developer.cshtml";
}

<br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Add Blog</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Blog Category</label>
                                <select class="form-control" id="ddlCategoryStatus">
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label>Status</label>
                                <select class="form-control" id="ddlCategoryStatus">
                                    <option>Active</option>
                                    <option>InActive</option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Blog Name</label>
                                <textarea id="txtProgram" class="form-control" rows="2" placeholder="Blog Name"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Blog Content </label>
                                <textarea id="txtProgram" class="form-control" rows="5" placeholder="Blog Content"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <input type="hidden" id="hdnCategoryID">
                        <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        <button type="button" class="btn btn-secondary" id="btnClear">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

