
@{
    ViewBag.Title = "MyProgramList";
    Layout = "~/Areas/Developer/Views/Shared/_Developer.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Active Program List</h3>
                    </div>
                    <div class="card-body">
                        <table id="categorylist" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Technology</th>
                                    <th>Topic</th>
                                    <th>Program Name</th>
                                    <th>Program Status</th>
                                    <th>Approval Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

