
@{
    ViewBag.Title = "PendingBlogList";
    Layout = "~/Areas/ProjectHubAdmin/Views/Shared/_ProjectHubAdmin.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Approve Pending Blog List</h3>
                    </div>
                    <div class="card-body">
                        <table id="categorylist" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" />  Select All</th>
                                    <th>Blog Category</th>
                                    <th>Developer Name</th>
                                    <th>Blog Name</th>
                                    <th>Blog Content</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="hidden" id="hdnCategoryID">
                <button type="button" class="btn btn-info" id="btnSubmit">Approve</button>
                <button type="button" class="btn btn-secondary" id="btnClear">Reject</button>
            </div>
        </div>
    </div>
</section>

