
@{
    ViewBag.Title = "ProjectList";
    Layout = "~/Areas/ProjectHubAdmin/Views/Shared/_ProjectHubAdmin.cshtml";
}

<br />
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Project List</h3>
                    </div>
                    <div class="card-body">
                        <table id="categorylist" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Project ID </th>
                                    <th>Project Name</th>
                                    <th>Project Category</th>
                                    <th>Project Sub Category</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

