
@{
    ViewBag.Title = "ProjectDetails";
    Layout = "~/Areas/ProjectHubAdmin/Views/Shared/_ProjectHubAdmin.cshtml";
}

<br />

<section class="content">
    <div class="container-fluid">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Information</h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <label>Project ID : </label>
                                <span>101</span>
                            </div>
                            <div>
                                <label>Project Name : </label>
                                <span>E-Commereance Portal</span>
                            </div>
                            <div>
                                <label>Category : </label>
                                <span>IT</span>
                            </div>
                            <div>
                                <label>Sub Category : </label>
                                <span>Web</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="hdnCategoryID">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Contact</h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <label> Aritect : </label>
                                <span>Sapana Wabale</span>
                            </div>
                            <div>
                                <label>Business Owner : </label>
                                <span>Sourabh Raut</span>
                            </div>
                            <div>
                                <label>Developer : </label>
                                <span>Sandip,Someshwar</span>
                            </div>
                            <div>
                                <label>Used Project : </label>
                                <span>Smarth Enterprize</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="hdnCategoryID">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Costing  </h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <label> Offer Cost : </label>
                                <span>Rs.1,50,000/-</span>
                            </div>
                            <div>
                                <label>Actual Cost : </label>
                                <span>Rs.2,50,0000/-</span>
                            </div>
                            <div>
                                <label>Offer Start Date : </label>
                                <span>01-06-2021</span>
                            </div>
                            <div>
                                <label>Offer End Date : </label>
                                <span>15-08-2021</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="hdnCategoryID">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Synopsis</h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <label>Synopsis : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                            <div>
                                <label>Synopsis Description : </label>
                                <span>Read More....</span>
                            </div>

                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="hdnCategoryID">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Document</h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <label> Document  : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                            <div>
                                <label>UML Diagrams : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                            <div>
                                <label>Data Tables : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                            <div>
                                <label>Data Dictionary : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="hdnCategoryID">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">PPT  </h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <label> Phase 1 PPT : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                            <div>
                                <label>Phase 2 PPT : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                            <div>
                                <label>Phase 3 PPT : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                            <div>
                                <label>Final PPT : </label>
                                <span><a href="#">Download Here</a></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="hdnCategoryID">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Technology</h3>
                        </div>
                        <div class="card-body">
                            <div>
                                <label>UI : </label>
                                <span>MVC</span>
                            </div>
                            <div>
                                <label>Database : </label>
                                <span>Sql Server</span>
                            </div>
                            <div>
                                <label>Other Language : </label>  
                                <span>Jquery,Bootstraps</span>
                            </div>
                            <div>
                                <label>Tools : </label>
                                <span>Html Editor</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="hidden" id="hdnCategoryID">
                            <button type="button" class="btn btn-info" id="btnSubmit">Submit</button>
                        </div>
                    </div>
                </div>
      
            </div>
        </div>
    </div>
</section>

